* {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../img/header.png") no-repeat top center;
    width: 100vw;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.topbar {
    width: 100%;
    height: 20px;
    flex-shrink: 0;
    padding-left: 100px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    background: #103578;
}

.topbar h5 {
    padding-top: 5px;
    padding-left: 1850px;
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

header {
    width: 1280px;
    height: 533px;
    padding-top: 5px;
    padding-left: 23px;
}

header nav {
    display: flex;
    align-items: center;
}

header img {
    margin-top: 5px;
    width: 187.1px;
    height: 45.2px;
    flex-shrink: 0;
}

header nav ul {
    margin-left: -30px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

header nav ul li a {
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 7px;
    text-decoration: none;
}

header nav ul li a:hover {
    height: 30px;
    border-bottom: 3px solid #FCC24F;
    ;
}


header h2 {
    margin-top: 48px;
    float: left;
    margin-left: -260px;
    text-align: left;
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

header h3 {
    margin-top: 18px;
    margin-left: 10px;
    clear: both;
    float: left;
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

select {
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 1px;
    padding: 8px 40px 8px 12px;
    /* Espaçamento interno */
    font-size: 14px;
    background: #FFF url('../img/Arrows.png') no-repeat right 5px center;
    /* Ícone de seta */
    margin-top: 2px;
    background-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    color: #4E4E4E;
    width: 100%;
}

input[type="date"] {
    border: 1px solid #ccc;
    /* Borda cinza */
    border-radius: 1px;
    /* Bordas arredondadas */
    padding: 8px 12px;
    /* Preenchimento interno */
    font-size: 14px;
    /* Tamanho da fonte */
    background-size: 20px;
    /* Tamanho do ícone */
    color: #4E4E4E;
    /* Cor do texto */
    width: 100%;
    /* Para garantir que ocupe toda a largura do container */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    cursor: pointer;
}



#buscar {
    background-color: #103578;
    color: #FFF;
    border: none;
    width: 190px;
    height: 40px;
    border-radius: 6px;
    padding: 10px 50px;
    margin-left: 470px;
    margin-top: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#buscar:hover {
    background-color: #0c2b62;
}

#compre {
    margin-top: 120px;
    margin-right: 1060px;
    display: block;
    width: 190px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FCC24F;
}

#compre p {
    color: #4E4E4E;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
}

#reservas {
    margin-top: -135px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    width: 956px;
    height: 290px;
    padding: 30px;
    margin-top: -100px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    box-shadow: 2px -12px 6px 6px rgba(0, 0, 0, 0.26);
}

#reservas h2 {
    margin-top: 25px;
    margin-left: 20px;
    color: #103578;
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 80% */
}

#reserve {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;
}


#reserve .boxReserva {
    flex-direction: row;
    margin-bottom: 15px;
    display: inline-flex;
    height: 32px;
    padding: 9px 11px 9px 10px;
    margin-top: 30px;
    justify-content: center;
    align-items: flex-start;
    gap: 37px;
    flex: 1;
}

#reserve .boxReserva label {
    margin-bottom: 5px;
    color: var(--gray-1, #4E4E4E);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 114.286% */

}


#Destino {
    color: var(--gray-1, #4E4E4E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
}

#PontoDeEmbarque {
    color: var(--gray-1, #4E4E4E);
    font-feature-settings: 'liga' off, 'clig' off;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */

}

#Corra h3 {
    margin-left: -465px;
    color: #103578;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.cruzeiros {
    display: flex;
    flex-wrap: wrap;
}

.cruzeiro {
    width: 303px;
    height: 466px;
    margin-left: 20px;
    margin-bottom: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
}

.cruzeiro h4 {
    width: 219px;
    height: 50px;
    flex-shrink: 0;
    color: #1D1D1B;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#nossosnavios {
    background: url("../img/bellow.png")no-repeat top center;
    width: 1280px;
    height: 601px;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}

#nossosnavios h5 {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 0%;
    margin-left: 185px;
}

.navios {
    display: flex;
    flex-direction: row;
    margin-inline-start: 183px;
    background: 50% cover no-repeat;
    justify-content: space-between;


}

.navios1 {
    position: relative;
    width: 305px;
    height: 476px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-right: 15px;
}

.navios2 {
    position: relative;
    width: 305px;
    height: 476px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-right: 15px;


}

.navios3 {
    position: relative;
    width: 305px;
    height: 476px;
    flex-shrink: 0;
    margin-top: 10px;
    margin-right: 15px;

}

.navios p {
    position: absolute;
    top: 420px;
    right: 30px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

footer {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    background: #103578;
}

footer p {
    margin-top: 40px;
    text-align: center;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}